<!doctype html>
<html>
    <head>
        <title>my web Test</title>
    </head>
    <body>
        <img src="/img/logo.jpg" height="300" width="200" alt="aaaa"></img><br>
        {{{body}}}
     </body>
</html>