<!doctype html>
<html>
    <head>
        <title>my web Test</title>
        {{{_sections.head}}}
    </head>
    <body>
        <img src="/img/logo.jpg" height="300" width="200" alt="aaaa"></img><br>
        {{{body}}}
        <script src="http://code.jquery.com/jquery-2.0.2.min.js"></script>
        {{{_sections.jquery}}}
     </body>
</html>